@model List<MiProyecto.Models.Contacto>

@{
    ViewBag.Title = "Lista de Contactos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top:30px">
    <div class="col-sm-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>Lista de contactos</h4>
            </div>
            <div class="panel-body">
                <a class="btn btn-primary" href="@Url.Action("Crear","Contacto")" >Agregar Nuevo</a>
                <hr />
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>Teléfono</th>
                                <th>Correo electrónico</th>
                                <th style="width:150px">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var contacto in Model) { 
                            <tr>
                                <td>@contacto.Nombres</td>
                                <td>@contacto.Apellidos</td>
                                <td>@contacto.Telefono</td>
                                <td>@contacto.Correo</td>
                                <td>
                                    <a class="btn btn-warning btn-sm" href="@Url.Action("Editar","Contacto", new { id = contacto.IdContacto })">Editar</a>
                                    <a class="btn btn-danger btn-sm" href="@Url.Action("ConfirmarEliminar","Contacto", new { id = contacto.IdContacto })">Eliminar</a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

